/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
direction: ltr;
max-height: 600px;
background-color: #222222;
}

.wrap {
    display: flex;
    width: 690px;
    margin: 20px auto;
    box-shadow: 0 0 50px 0 black;
}
.calculator {
    height: 630px;
    background-color: gray;
}
#headline {
    width: 336px;
    height: 32px;
    padding: 12px 0 0 20px;
    color: white;
    font-size: 1.2em;
    font-family: arial,sans-serif;
    background-color: #00798c;
    border: 1px solid rgba(94,116,135,1);
}
#underline {
    width: 356px;
    height: 35px;
    text-align: center;
    color: gray;
    font-family: arial,sans-serif;
    font-size: 2.0em;
    background-color: #2d3035;
    border: 1px solid rgba(33,43,52,1);
    box-shadow:
    inset 0 2px rgba(72,72,72,1),
    inset 0 0 0px rgba(140,150,170,.8),
    0 1px rgb(83,94,104),
    0 0 1px rgb(86,96,106);
}
   
#screen {
    text-align: right;
    width: 348px;
    height: 190px;
    font-size: 4.0em;
    font-family: 'Work Sans', sans-serif;
    color: white;
    padding-right: 10px;
    background-color: black;
    border-style: none;
}
 
.btn {
    width: 89.7px;
    height: 73px;
    font-size: 300%;
    padding: 0;
    margin: 0 -4px 0 0;
    
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-shadow: 0 -1px rgb(46,53,58);
    text-decoration: none;
    user-select: none;
    line-height: 130%;
    outline: none;
    border: 1px solid rgba(33,43,52,1);
    background-color: rgb(113,122,129);
    box-shadow: inset 2px 1px rgb(135,148,160),
    inset 0 0 1px rgba(140,150,170,.8);
}

.keys {
    display: inline-block;
}

#memo {
    height: 639px;
    width: 358px;
    font-size: 1.0em;
    background-color: #2d3035;
    border-left: 2px solid rgba(94,116,135,1);
}

#memlineone {
    width: 356px;
    height: 32px;
    padding-top: 12px;
    text-align: center;
    color: gray;
    font-size: 1.2em;
    font-family: arial,sans-serif;
    background-color: #2d3035;
    border: 1px solid rgba(33,43,52,1);
    box-shadow:
    inset 0 -2px rgba(72,72,72,1),
    inset 0 0 0px rgba(140,150,170,.8);
}

#memtab {
    text-align: right;
    width: 348px;
    height: 556px;
    font-size: 2.0em;
    font-family: 'Work Sans', sans-serif;
    color: white;
    padding-right: 10px;
    background-color: black;
    border-style: none;
}

#memline {
    width: 358px;
    height: 37px;
    text-align: center;
    color: gray;
    font-family: arial,sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    user-select: none;
    line-height: 100%;
    outline: none;
    padding-top: 9px;
    background-color: #2d3035;
    border: 1px solid rgba(33,43,52,1);
    box-shadow:
    inset 0 2px rgba(72,72,72,1),
    inset 0 0 0px rgba(140,150,170,.8);
}