body {
    background-color: #191919;
    font-family: sans-serif;
    size: 200%
}
table {
    width: 350px;
    height: 450px;
    background-color: #0f0f0f;
    margin: 50px auto;
}
thead {
    background-color: #bddd78;
}
#tablo {
    float: right;
    height: 70px;
    padding-top: 15px;
    padding-right: 5px;
    font-size: 250%;
}
#clear {
    background-color: #395374;
    color: white;
    font-size: 150%;
}
#equal {
    background-color: #c86702;
    color: white;
    font-size: 150%;
}
#one, #two, #three, #four, #five, 
#six, #seven, #eight, #nine, #zero, #comma {
    background-color: #4d565d;
    color: white;
    font-size: 150%;
}
#division, #multiplication, #minus, #plus {
    background-color: #34343c;
    color: white;
    font-size: 150%;
}